@import "~bootstrap/scss/bootstrap.scss";

button {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.green-bulb {
    background-color: green
}
.yellow-bulb {
    background-color: yellow
}
.red-bulb {
    background-color: red
}
.light-on {
    box-shadow:#f8ffcc 0px 0px 50px 20px;
}
.box {
    width: 200px;
    height: 400px;
    background-color: black;
    display: auto;
    border-radius: 30px;
}
.text-center {
    
}