@import "~bootstrap/scss/bootstrap.scss";

.box-stick {
    width: 20px;
    height: 150px;
    background-color: black;
    margin-left: 142px;
}
.box {
    width: 200px;
    height: 400px;
    background-color: black;
    border-radius: 30px;
    margin-left: 50px;
    padding: 37px;
    
    
}
.semaforo{
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    padding: 40px;
    cursor: pointer;
    &.red {background-color: red; display: block}
    &.yellow {background-color: yellow; display: block}
    &.green {background-color: green; display: block}
    &.light {box-shadow: #f8ffcc 0px 0px 50px 20px;}
}